name: Cargo

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Build
        run: |
          cargo build
          cargo build --no-default-features
          cargo build --no-default-features --features "rayon"
          cargo build --no-default-features --features "compression"
          cargo build --no-default-features --features "rstar"
          cargo build --no-default-features --features "serde"

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Run cargo fmt
        run: cargo fmt --check

      - name: Run cargo clippy
        run: cargo clippy

  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Run tests
        run: |
          mkdir -p dump
          cargo test --features "rayon serde rstar" --verbose

  miri:
    name: "Miri"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Miri
        run: |
          rustup toolchain install nightly --component miri
          rustup override set nightly
          cargo miri setup
      - name: Test with Miri
        run: cargo miri test --tests

  examples:
    name: Example
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Run examples
        run: |
          mkdir -p dump
          cargo run --example selection
          cargo run --example sphere
          cargo run --example waterbox
